body {
  padding-top: 30px;
  background-color: #f0f0f0;
}

#searchButton, #filterButton, #applyButton {
  background-color: #9ea7ad;
  color: white;
  border: none;
}

#searchButton:hover, #filterButton:hover, #applyButton:hover {
  background-color: #b3b9bf;
}

.card-filters {
  width: 80%;
}

.card-filters.show {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.badge-secondary, .badge-black {
  background-color: #6c757d;
  color: black;
}

.navbar-brand p {
  font-family: 'MinhaFontePersonalizada', sans-serif;
}

.additional-space {
  height: 100px;
}

.footer {
  background-color: #6c757d;
  color: white;
  width: 100%;
  margin-top: auto;
  padding: 1rem;
}

.footer p {
  margin-bottom: 0;
}

.card-title a {
  color: black;
  text-decoration: none;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-title a:hover {
  color: darkblue;
}

.tag-alumni {
  background: linear-gradient(90deg, rgb(135, 117, 78) 50%, #000000 50%);
  color: white;
}

.tag-cultura {
  background: linear-gradient(90deg, rgb(135, 117, 78) 50%, #000000 50%);
  color: white;
}

.tag-faup {
  background-color: #ffffff;
  color: black;
  border: 1px solid black;
}

.tag-fcnaup {
  background-color: rgb(210, 159, 19);
  color: black;
}

.tag-fcup {
  background: rgb(147, 191, 235);
  color: black;
}

.tag-fep {
  background-color: rgb(244, 42, 65);
  color: white;
}

.tag-feup {
  background-color: rgb(159, 45, 32);
  color: white;
}

.tag-flup {
  background-color: rgb(0, 25, 168);
  color: white;
}

.tag-fmdup {
  background: linear-gradient(90deg, rgb(255, 92, 0) 50%, rgb(255, 214, 0) 50%);
  color: black;
}

.tag-fmup {
  background-color: rgb(255, 214, 0);
  color: black;
}

.tag-fpce {
  background-color: rgb(255, 92, 0);
  color: white;
}

.tag-icbas {
  background: linear-gradient(90deg, rgb(253, 209, 21) 50%, rgb(119, 192, 225) 50%);
  color: black;
}

.tag-ispup {
  background: linear-gradient(90deg, rgb(232, 45, 57) 50%, rgb(14, 45, 90) 50%);
  color: white;
}

.tag-reitoria {
  background-color: rgb(135, 117, 78);
  color: white;
}

.tag-sipreitoria {
  background: linear-gradient(90deg, rgb(135, 117, 78) 50%, #000000 50%);
  color: white;
}

.tag-updigital {
  background-color: rgb(17, 118, 153);
  color: white;
}

.card {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
